$mobile480-width: 480px;
$tablet768-width: 768px;
$tablet1024-width: 1024px;
$laptop-width: 1200px;
$laptop1440-width:1440px;
$desktop-width: 1900px;

@mixin mobile480 {
    @media only screen and (min-width: #{$mobile480-width}) {
        @content;
    }
}

@mixin tablet768 {
    @media only screen and (min-width: #{$tablet768-width}) {
        @content;
    }
}

@mixin tablet1024 {
    @media only screen and (min-width: #{$tablet1024-width}) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: #{$laptop-width}) {
        @content;
    }
}

@mixin laptop1440 {
    @media only screen and (min-width: #{$laptop1440-width}) {
        @content;
    }
}


@mixin desktop {
    @media only screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin chromefix{
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

@mixin el($element){
    &__#{$element}{
        @content;
    }
}
@mixin mod($modifier){
    &--#{$modifier}{
        @content;
    }
}
