html {
    box-sizing: border-box;
    height: 100%;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font1;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 32%;
    background-attachment: fixed;
}

#loader{
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color:#f1d8ce;
}

.page{
    position: relative;
    min-height: 100%;
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    @include el('inner'){
        position: relative;
        padding-left:15px;
        padding-right:15px;
        min-height:460px;
    }
}

.logo{
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;
    width:95px;
    height:95px;
    overflow: hidden;
    background-color:#fff;
    img{
        position: relative;
        z-index: 2;
        display: block;
        max-width: 100%;
        height:auto;
    }
}

.header{
    margin: 0;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    text-transform: uppercase;
    width: 290px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px;
    br{
        display: none;
    }
}

.clock-header{
    position: relative; 
    z-index: 2;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 8px;
    margin:0;
    padding:0 0 25px;
    text-align: center;
    text-transform: uppercase;
}

.clock{
    position: relative;
    z-index: 2;
    width:265px;
    height:60px;
    margin:0 auto;
    display:flex;

    border:1px solid #fff;

    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    text-align: center;

    @include el('item'){
        position: relative;
        display: flex;
        width: 70px;
        height: 60px;
    }

    @include el('letter'){
        display: block;
        border-right:1px solid #fff;
        width: 33px;
        height: 60px;
        @include mod('last'){
            border-right:0;
        }
        span{
            display: block;
            line-height: 1;
            position: relative;
            top:14px;
        }
    }

    @include el('colon'){
        position: absolute;
        z-index: 2;
        right: -2px;
        top: 12px;
        width: 6px;
        height: 23px;
    }

    @include el('info'){
        display: none;
    }

    @include el('info-mobile'){
        position: absolute;
        padding-top:20px;
        margin:0;
        font-size:15px;
        font-weight: 400;
        letter-spacing: 5px;
        bottom:0;
        left:50%;
        transform: translateY(100%) translateX(-50%);
    }
}

.logo-orsay{
    position: relative;
    display: block;
    width:150px;
    margin:70px auto 0;
    overflow: hidden;
    img{
        position: relative;
        z-index: 2;
        display: block;
        max-width: 100%;
        height:auto;
    }
}

@media only screen and (min-width: 360px){
body {
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 32%;
    background-attachment: fixed;
}
}

@media only screen and (min-width: 420px){
    body {
        background-image: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 32%;
        background-attachment: fixed;
    }
}

@media only screen and (min-width: 768px){

    .header{
        padding:35px 0 35px;
        width:auto;
        br{
            display:block;
        }
    }

}

@media only screen and (min-width: 1200px){

    .page__inner{
        min-height:850px;
    }

    .logo{
        width:176px;
        height:176px;
    }

    .header{
        font-size:56px;
        line-height:76px;
        padding:102px 0 54px;
    }

    .clock-header{
        letter-spacing: 12px;
        padding-bottom:35px;
    }

    .clock{
        position: relative;
        z-index: 2;
        width:553px;
        height:90px;
        display:flex;

        border:1px solid #fff;

        font-size: 56px;
        font-weight: 400;
        line-height: 1;
        text-align: center;

        @include el('item'){
            position: relative;
            display: flex;
            width: 139px;
            height: 88px;
        }

        @include el('letter'){
            display: block;
            border-right:1px solid #fff;
            width: 69px;
            height: 90px;
            @include mod('last'){
                border-right:0;
            }
            span{
                display: block;
                line-height: 1;
                position: relative;
                top:14px;
            }
        }

        @include el('colon'){
            position: absolute;
            z-index: 2;
            right:0;
            top:9px;
            width:7px;
            height:23px;
        }

        @include el('info'){
            display: block;
            position: absolute;
            padding-top:20px;
            margin:0;
            font-size:15px;
            font-weight: 400;
            letter-spacing: 5px;
            bottom:0;
            left:50%;
            transform: translateY(100%) translateX(-50%);
        }

        @include el('info-mobile'){
            display: none;
        }
    }

    .logo-orsay{
        width:192px;
        margin:114px auto 0;
        padding-bottom:70px;
    }

}